name: Data Product Deployment

on:
  push:
    branches: [main]
    paths:
      - "code/**"
      - "infra/**"
      - ".github/workflows/dataProductDeployment.yml"
  pull_request:
    branches: [main]
    paths:
      - "code/**"
      - "infra/**"
      - ".github/workflows/dataProductDeployment.yml"

env:
  AZURE_SUBSCRIPTION_ID: "2150d511-458f-43b9-8691-6819ba2e6c7b" # Update to '{dataLandingZoneSubscriptionId}'
  AZURE_RESOURCE_GROUP_NAME: "dlz01-dev-dp001"                  # Update to '{dataLandingZoneName}-rg'
  AZURE_LOCATION: "northeurope"                                 # Update to '{regionName}'

jobs:
  validation:
    name: "Validation of IaC templates"
    runs-on: ubuntu-latest
    continue-on-error: false

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check Out Repository
        id: checkout_repository
        uses: actions/checkout@v2

      # Login to Azure
      - name: Azure Login
        id: azure_login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Generate Password 001
      - name: Generate Password 001
        id: generate_password_001
        run: |
          echo "Generating Password"
          pwsh "${GITHUB_WORKSPACE}/code/GeneratePassword.ps1" -GitHub

      # Deploy Data Product - validation
      - name: Deploy Data Product - validation
        id: data_product_validation
        uses: azure/arm-deploy@v1
        with:
          scope: resourcegroup
          subscriptionId: ${{ env.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_NAME }}
          region: ${{ env.AZURE_LOCATION }}
          template: ${{ github.workspace }}/infra/main.bicep
          parameters: ${{ github.workspace }}/infra/params.dev.json administratorPassword="${{ steps.generate_password_001.outputs.password }}"
          deploymentMode: Validate
          deploymentName: "DataProduct-${{ github.sha }}"
          failOnStdErr: false

      # Deploy Data Product - what-if
      - name: Deploy Data Product - what-if
        id: data_product_whatif
        uses: azure/arm-deploy@v1
        with:
          scope: resourcegroup
          subscriptionId: ${{ env.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_NAME }}
          region: ${{ env.AZURE_LOCATION }}
          template: ${{ github.workspace }}/infra/main.bicep
          parameters: ${{ github.workspace }}/infra/params.dev.json administratorPassword="${{ steps.generate_password_001.outputs.password }}"
          deploymentMode: Incremental
          deploymentName: "DataProduct-${{ github.sha }}"
          failOnStdErr: false
          additionalArguments: "--what-if --what-if-exclude-change-types Ignore NoChange Unsupported --what-if-result-format FullResourcePayloads"

      # Log out from Azure
      - name: Log out from Azure
        id: azure_logout
        uses: azure/cli@v1
        with:
          azcliversion: "agentazcliversion"
          inlineScript: |
            az logout

  deployment:
    name: "Deployment of IaC templates"
    needs: [validation]
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    continue-on-error: false

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check Out Repository
        id: checkout_repository
        uses: actions/checkout@v2

      # Login to Azure
      - name: Azure Login
        id: azure_login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Generate Password 001
      - name: Generate Password 001
        id: generate_password_001
        run: |
          echo "Generating Password"
          pwsh "${GITHUB_WORKSPACE}/code/GeneratePassword.ps1" -GitHub

      # Deploy Data Product
      - name: Deploy Data Product
        id: data_product_deployment
        uses: azure/arm-deploy@v1
        with:
          scope: resourcegroup
          subscriptionId: ${{ env.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.AZURE_RESOURCE_GROUP_NAME }}
          region: ${{ env.AZURE_LOCATION }}
          template: ${{ github.workspace }}/infra/main.bicep
          parameters: ${{ github.workspace }}/infra/params.dev.json administratorPassword="${{ steps.generate_password_001.outputs.password }}"
          deploymentMode: Incremental
          deploymentName: "DataProduct-${{ github.sha }}"
          failOnStdErr: false

      # Log out from Azure
      - name: Log out from Azure
        id: azure_logout
        uses: azure/cli@v1
        with:
          azcliversion: "agentazcliversion"
          inlineScript: |
            az logout
